<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       .login-box h2 {
           text-align: center;
           margin: 0 0 1.5rem;   /* 清除默认margin并添加底部间距 */
           padding: 0;
           font-weight: 600;     /* 加强标题权重 */
           line-height: 1.2;     /* 优化行高 */
           color: #333;          /* 明确定义颜色 */
        }

        /* 如果需要响应式调整 */
        @media (max-width: 768px) {
          .login-box h2 {
              font-size: 1.5rem;  /* 移动端适当缩小字号 */
          }
        }
    </style>
</head>
<body>
    <h1>用户登录</h1>
    <h2>欢迎</h2>
    <form method="post" action="http://127.0.1:5000/login">
    <select name="role">
        <option value="1">客户</option>
        <option value="2">管理员</option>
    </select>
    <input type='text' name="mobile" placeholder="手机号"/>
    <input type="password" name="pwd" placeholder="密码">
    <input type="submit" value="提交">
    </form>
</body>
</html>


